<!DOCTYPE html>
<html>
<head>
	<title>Employee Home page</title>
</head>
<body>
	<h1>Employee Home Page</h1> <br/>
	<a href="/employee/myprofile">MyProfile</a>
	<a href="/employee/updateprofile">UpdateProfile</a>
	<br/><br/><a href="/logout">Logout</a>
</body>
</html>