<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>My Profile</legend>
				<table border="1">
					<tr>
						<th>Name</th>
						<th>Phone</th>
						<th>Designation</th>
						
				
					</tr>
					
					<tr>
						
						<td>Arnob</td>
						<td>6543210</td>
						<td>Senior</td>
						
				
					</tr>
					
					
				</table>
			</fieldset>
		</form>
</body>
</html>